*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto; 
}

/* common style */
.section-title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.section-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    opacity: .7;
}
.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
}
/* nav design */

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 32px;
    font-weight: 700;
}
nav button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background: transparent;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
    cursor: pointer;
    transition: .4s;
}
nav button:hover {
    background-color: #006A50;
    color: white;
}

/* banner design */
.banner {
    width: 100%;
    height: 500px;
    background-color:#C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 30px 0;
}
.banner-content {
    max-width: 500px;
}
.banner-content .banner-subtitle {
    font-size: 24px;
    font-weight: 500;
    margin: 16px 0;
    color: #0E0E0E80;
    opacity: .5;
}
.banner-content .banner-title {
    font-size: 38px;
    font-weight: 700;
    margin: 16px 0;
    color: #0E0E0E;
}
.banner-btn {
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    color: #FFFFFF;
    margin: 24px 0;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .4s;
}
.banner-btn:hover {
    background-color: #183a31;
}
.banner-img {
    width: 500px;
}
.banner-img img {
    width: 100%;
}

/* pillar bangladesh desin start  */
.pillarBd {
    margin: 50px 0;
}
.pillar-box {
    margin: 18px 0;
    display: flex;
    justify-content: space-between;
}
.pillar-card {
    flex-basis: 24%;
    background-color: #fff;
    padding: 10px 18px;
    border-radius: 16px;
    border: 1px solid rgba(14,14,14,0.15);
    transition: .4s ease;
}
.pillar-card:hover {
    border: none;
}
.pillar-card img {
    width: 60px;
}
.pillar-card h3 {
    margin: 12px 0;
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0ECC;
    opacity: .80;
}
.pillar-card p {
    margin: 12px 0;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0ECC;
    opacity: .70;
    line-height: 1.4;
}
/* pillar bangladesh desin end  */

/* vision design start  */
.vision {
    margin: 50px 0;
}
.vision h1 {
    margin: 24px 0;
}
.vision p {
    margin: 12px 0;
}
.vision-box {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
   
}
.vision-box .card {
    flex-basis: 32%;
    padding: 20px 15px;
    text-align: left;
}
.vision-box .card img {
    width: 60px;
}
.vision-box .card h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0;
    color: #0E0E0ECC;
    opacity: .8;
}
.vision-box .card p{
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;
    color: #0E0E0ECC;
    line-height: 1.4;
    opacity: .7;
}

.vision-card1{
    border-radius: 16px;
    background-color: rgba(84,144,245,.2);
}
.vision-card1 button {
    margin: 24px 0;
    padding: 14px 25px;
    background-color: #5490F5;
    border: none;
    cursor: pointer;
    transition: .4s;
}
.vision-card1 button:hover {
    background-color: #3a61a5;
}
.vision-card2{
    padding: 10px;
    border-radius: 16px;
    background-color: #C6E4D6;
    
}
.vision-card2 button {
    margin: 24px 0;
    padding: 14px 25px;
    background-color: #09A15C;
    cursor: pointer;
    border: none;
    transition: .4s;
}
.vision-card2 button:hover {
    background-color: #0c6b40;
}
.vision-card3{
    padding: 10px;
    border-radius: 16px;
    background-color: #F7EBCF;
    
}

.vision-card3 button {
    margin: 24px 0;
    padding: 14px 25px;
    background-color: #FFC239;
    cursor: pointer;
    border: none;
    transition: .4s;
}
.vision-card3 button:hover {
    background-color: #866822;;
}
/* vision desing end */
/* opinion design start */
.opinion {
    margin: 50px 0;
}
.decision {
    margin: 24px 0;
    width: 100%;
    /* height: 300px; */
    background-color: #fff;
    border-radius: 16px;
    padding: 20px 28px;
}
.decision table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.decision table thead {
    background-color: #C6E4D6;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 600;
}
.decision table th,td {
    border: 1px solid rgba(14,14,14,0.15);
    padding: 14px 18px;
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}
.decision table select {
    padding: 10px 14px;
    border-radius: 4px;
    background-color: #C6E4D6;
    outline: none;
}
.decision table select option {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
/* opinion design end */

/* Quote design */
.quote {
    width: 100%;
    height: 250px;
    padding: 20px 35px;
    background: #FFFFFF url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top 10% left 2%;
    border-radius: 16px;
    border: 1px solid rgba(14,14,14,0.15);
}
.quote-content p{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0ECC;
    opacity: .8;
    line-height: 1.4;
}

.quote-content p strong{
    display: block;
    margin: 18px 0 0 0;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0ECC;
    opacity: .8;
    
} 
.quote-content p small {
    display: block;
    margin: -5px 0 12px 0;
}

/* news design start  */

.news {
    margin: 50px 0;
}
.news h1 {
    margin: 24px 0;
}
.news p {
    margin: 12px 0;
}
.news-box {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    margin: 24px 0;
    padding: 30px;
    border-radius: 24px;
    background-color: #FFFFFF;

}
.news-box .news-img {
    flex-basis: 38%;
   
}
.news-box .news-img img {
    width: 100%;
    height: 350px;
    border-radius: 24px;
    
}
.news-box .news-content {
    flex-basis: 61%;
}
.news-content .news-content-title {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0ECC;
    opacity: .8;

}
.news-box2 {
    margin: 12px 0;
}
.news-box2 img {
    width: 140px;
}
.news-box2 span {
    margin: 12px 12px 0 0;
    
}
.news-box2 p {
    color: #0E0E0EB3;
    opacity: .7;
}
.news-box2 .news-desc {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;

}
.news-box2 .news-btn {
    background-color: #006A50;
    margin: 25px 0;
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .4s;
}
.news-box2 .news-btn:hover{
    background-color: #183a31;
}
.reverse {
    display: flex;
    flex-direction: row-reverse;
}

/* news design end  */

/* donate design start */
.donate {
    margin: 50px 0;
}
.donate h1{
    margin: 24px 0;
    text-align: center;
}
.donate p {
    text-align: center;
    margin: 10px 0;
}
.amount .input1 {
    display: flex;
    margin: 20px 0;
    gap: 15px;
}
.amount .input1 input {
	font-size: 28px;
	width: 24%;
	background-color: white;
	color: #0E0E0ECC;
	opacity: .8;
	border: 1px solid rgba(14,14,14,0.15);
	padding: 22px 25px;
	outline: none;
	border-radius: 16px;
    text-align: center
}
.amount .input1 input:hover {
    background-color: #c5ad5c;
}
.amount .input1 input:nth-child(2){
    background-color: #C6E4D6;
}
.other {
    margin: 12px 0;
    width: 99%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(14,14,14,0.15);
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #0E0E0E4D;
    
}
.d-btn {
    text-align: center;
    margin: 12px 0;
}
.donate-btn {
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 18px 36px;
    border: none;
    cursor: pointer;
    transition: .4s ease;

}
.donate-btn:hover {
    background-color: #183a31;
}
/* donate design end  */

/* newsletter design start  */
.newsletter {
    margin: 50px 0;
    width: 100%;
    height: 380px;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 20px 40px;
    
    
}

.newsletter-content {
    max-width: 500px;
    margin: auto;
    
}
.newsletter-content h1 {
    margin: 24px 0;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    text-align: center;
}
.newsletter-content P{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;
    color: #0E0E0EB3;
    opacity: .7;

}
.subscription {
    margin: 35px 0 0 30px;
    display: flex;
}
.subscription input {
    background-color: #fff;
    width: 75%;
    padding: 15px 28px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 8px 0 0 8px;
    
}
.subscription .sub-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 0 8px 8px 0;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 28px;
    border: none;
    cursor: pointer;
}
.subscription .sub-btn:hover{
    background-color: #183a31;
}
.promise {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: block;
    color: #0E0E0EB3;
    opacity: .7;
    margin: 25px 0; 
}
/* newsletter design end  */

/* footer design start */
footer {
    margin: 50px 0 0 0;
    width: 100%;
    height: 150px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}
footer h4 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.social-icon  img {
    margin-right: 20px;
    cursor: pointer;
}
/* footer design end */