*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto; 
}

/* common style */
.section-title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.section-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    opacity: .7;
}
.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
}
/* nav design */

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 32px;
    font-weight: 700;
}
nav button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background: transparent;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
}

/* banner design */
.banner {
    width: 100%;
    height: 500px;
    background-color:#C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 30px 0;
}
.banner-content .banner-subtitle {
    font-size: 24px;
    font-weight: 500;
    margin: 16px 0;
    color: #0E0E0E80;
    opacity: .5;
}
.banner-content .banner-title {
    font-size: 38px;
    font-weight: 700;
    margin: 16px 0;
    color: #0E0E0E;
}
.banner-btn {
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    color: #FFFFFF;
    margin: 24px 0;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.banner-img {
    width: 400px;
}

/* vision design start  */
.vision {
    margin: 40px 0;
}
.vision h1 {
    margin: 24px 0;
}
.vision p {
    margin: 12px 0;
}
.vision-box {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.vision-box .card {
    padding: 20px 15px;
    text-align: left;
}
.vision-box .card h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0;
    color: #0E0E0ECC;
    opacity: .8;
}
.vision-box .card p{
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;
    color: #0E0E0ECC;
    opacity: .7;
}

.vision-card1{
    border-radius: 16px;
    background-color: rgba(84,144,245,.2);
}
.vision-card1 button {
    margin: 24px 0;
    padding: 11px 20px;
    background-color: #5490F5;
    border: none;
}
.vision-card2{
    padding: 10px;
    border-radius: 16px;
    background-color: #C6E4D6;
    
}
.vision-card2 button {
    margin: 24px 0;
    padding: 11px 20px;
    background-color: #09A15C;
    border: none;
}
.vision-card3{
    padding: 10px;
    border-radius: 16px;
    background-color: #F7EBCF;
    
}

.vision-card3 button {
    margin: 24px 0;
    padding: 11px 20px;
    background-color: #FFC239;
    border: none;
}
/* vision desing end */

/* news design start  */

.news {
    margin: 50px 0;
}
.news h1 {
    margin: 24px 0;
}
.news p {
    margin: 12px 0;
}
.news-box {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    margin: 24px 0;
    padding: 30px;
    border-radius: 24px;
    background-color: #FFFFFF;

}
.news-box .news-img {
    flex-basis: 38%;
   
}
.news-box .news-img img {
    width: 100%;
    height: 350px;

    /* object-fit: cover; */
    border-radius: 24px;
    
}
.news-box .news-content {
    flex-basis: 61%;
}
.news-content .news-content-title {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0ECC;
    opacity: .8;

}
.news-box2 {
    margin: 12px 0;
}
.news-box2 img {
    width: 140px;
}
.news-box2 span {
    margin: 12px 12px 0 0;
    
}
.news-box2 p {
    color: #0E0E0EB3;
    opacity: .7;
}
.news-box2 .news-desc {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;

}
.news-box2 .news-btn {
    background-color: #006A50;
    margin: 25px 0;
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

/* news design end  */

/* donate design start */
.donate {
    margin: 40px 0;
}
.donate h1{
    margin: 24px 0;
    text-align: center;
}
.donate p {
    text-align: center;
    margin: 10px 0;
}
.amount .input1 {
    display: flex;
    margin: 20px 0;
    gap: 15px;
}
.amount .input1 input {
	font-size: 28px;
	width: 24%;
	background-color: white;
	color: #0E0E0ECC;
	opacity: .8;
	border: 1px solid rgba(14,14,14,0.15);
	padding: 22px 25px;
	outline: none;
	border-radius: 16px;
    text-align: center
}
.amount .input1 input:nth-child(2){
    background-color: #C6E4D6;
}
.other {
    margin: 12px 0;
    width: 99%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(14,14,14,0.15);
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #0E0E0E4D;
    
}
.d-btn {
    text-align: center;
    margin: 12px 0;
}
.donate-btn {
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 18px 36px;
    border: none;
   

}
/* donate design end  */